$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$roboto-font: "Roboto", sans-serif;
$h1-size: 20px;
$background-espacio1: #FB6F50;
$background-espacio2: #E44927;
$background-espacio3: #FDB9AA;
